:root {
    --title-red: #ef4444; 
} 

body {
    background-color: lightblue;
}

h1, h2, h3 {
    color: #ef4444;
}


figure {
    
    width: 500px;
    height: 300px;
    margin: auto;
    text-align: center;
}


figcaption {
    margin-top: 0.5rem; 
    font-size: 0.8rem;
    font-style: italic;
}